.herobox
{
    /* border: 2px solid red; */
    display: flex;
    height: 75vh;
    max-width:90% ;
    margin: auto;
}

.imgbox
{
   width: 50%;
   margin: auto;
   /* border: 2px solid yellow; */
}

.coverimg
{
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    
}


.textbox
{
   width: 50%;
   margin: auto;
   text-align: right;
   /* border: 2px solid green; */
}

.textbox h1
{
   font-size: 38px;
   font-weight: 800;
   margin-bottom: 5px;
}

.textbox p 
{
   font-size: 18px;
   margin-bottom: 15px;
   color: grey;
}

.high
{
    color: #FFAA00;
}

.textbox button
{
   background-color: #223FD3;
   color: white;
   padding: 10px;
   border-radius: 8px;
   font-size: 20px;
   margin-right: 30px;
   font-weight: 400;
}

.textbox button:hover
{
    background-color: #002aff;
}

